# Copie este arquivo para application-local.properties e preencha com seus dados.
# O arquivo application-local.properties NÃO é enviado ao GitHub.

spring.datasource.url=jdbc:postgresql://localhost:5432/hortifruti
spring.datasource.username=postgres
spring.datasource.password=SUA_SENHA_AQUI
