spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/hortifruti}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:postgres}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:SUA_SENHA_AQUI}

hortifruti.security.admin.username=${HORTIFRUTI_ADMIN_USERNAME:admin}
hortifruti.security.admin.password=${HORTIFRUTI_ADMIN_PASSWORD:admin123}
hortifruti.security.atendente.username=${HORTIFRUTI_ATENDENTE_USERNAME:atendente}
hortifruti.security.atendente.password=${HORTIFRUTI_ATENDENTE_PASSWORD:atendente123}
