<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alerts">
    <div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${sucesso}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div th:if="${erro}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${erro}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
</body>
</html>
