<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard HortiFrúti</title>

    <link rel="stylesheet" th:href="@{/adminlte/css/adminlte.min.css}">
</head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">

    <aside class="main-sidebar sidebar-dark-primary elevation-4">

        <a href="#" class="brand-link">
            <span class="brand-text">HortiFrúti</span>
        </a>

        <div class="sidebar">
            <nav>
                <ul class="nav nav-pills nav-sidebar flex-column">

                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link active">
                            <p>Dashboard</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <p>Famílias</p>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

    </aside>

    <div class="content-wrapper">

        <section class="content">

            <div class="container-fluid">

                <h1>Dashboard HortiFrúti</h1>

                <p>Spring Boot + Thymeleaf funcionando.</p>

            </div>

        </section>

    </div>

</div>

<script th:src="@{/adminlte/js/adminlte.min.js}"></script>

</body>
</html>